.sides-margin{
    width: 80%;
    margin: 0 auto;
}


.info{
    
    margin: 0 auto;
    margin-bottom: 20px;
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 250px;
}
.barras {
    width: 100%; /* Asegura que las barras de progreso ocupen el ancho completo */
    max-width: 600px; /* Para evitar que se estiren demasiado */
}


@media screen and (width > 768px) {
    .sides-margin{
        width: 90%;
        
        .info{
            display: flex;
            flex-direction: row;
            gap: 20px;
            
        }.texto{
            width: 50%;
        }
        .barras{
            margin: 50px auto;
            width: 50%;
            height: 70vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
   
}

.audiovisual{
       display: flex;
       justify-content: center;
        
        .video{
            width: 15em;
            width: 100%;
            height: auto;
        }
        /*esto no es lo que quiero , porque estamos imitando lo de la clase que seria meterlo en una imagen*/
    }

@media screen and (width >768px) {
    .info{
        
        .texto{
            margin-top: 10rem;
            font-size: 1.1rem;
        }
        .barras{
            margin-top: 14rem;
            font-size: 1.4rem;
        }
    }
        .audiovisual{
            .video{
                width: 30rem;
                width: 100%;
                height: auto;
            }
        }
}


@media screen and (width >1024px) {
    .info{
        
        .texto{
            margin-top: 10rem;
            font-size: 1.1rem;
        }
        .barras{
            margin-top: 12rem;
            font-size: 1.4rem;
        }
    }
    .audiovisual{
        .video{
            width: 50rem;
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (width >2000px) {
    .info{
        
        .texto{
            margin-top: 10rem;
            font-size: 1.5rem;
        }
        .barras{
            margin-top: 12rem;
            font-size: 1.4rem;
        }
    }
    .audiovisual{
        
        margin-bottom: 5rem;
        .video{
            width: 80rem;
            width: 80%;
            
        }
    }
}
